<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>unauthorized personal</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
    <div style="display: grid; place-content: center; height: 85vh; text-align: center;">
        <h1 style="font-family: monospace;">401</h1>
        <h1 style="font-family: monospace;">UnAuthorized personal only</h1>
    </div>
</body>
</html>